{% extends 'base.html.twig' %}

{% block title %}Edit Inscriptioncours{% endblock %}

{% block body %}
    <h1>Edit Inscriptioncours</h1>

    {{ include('inscriptioncours/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_inscriptioncours_index') }}">back to list</a>

    {{ include('inscriptioncours/_delete_form.html.twig') }}
{% endblock %}
