<form method="post" action="{{ path('app_webinar_feedback_delete', {'id': webinar_feedback.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ webinar_feedback.id) }}">
    <button class="btn">Delete</button>
</form>
